@import url("https://fonts.googleapis.com/css2?family=Prompt:wght@300;500&display=swap");
.gridbox {
  border-radius: 0.25px;
  border: solid 1px rgba(0, 0, 0, 0.125);
}

.gridbox__title h3 {
  border-bottom: solid black 0.5px;
}

.gridbox__body--title h5 {
  padding-bottom: 10px;
  border-bottom: solid black 0.25px;
}

@media screen and (min-width: 992px) {
  .gridbox {
    display: grid;
    grid-template-areas: "title title title" "img img body";
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr 7fr;
  }
  .gridbox__title {
    grid-area: title;
    position: relative;
  }
  .gridbox__img {
    grid-area: img;
    position: relative;
  }
  .gridbox__body {
    grid-area: body;
    position: relative;
  }
  .gridbox__body--title {
    position: relative;
  }
  .gridbox__body--text {
    position: relative;
  }
  .gridbox__body__btn {
    position: relative;
  }
}

#galeria .col-lg-4 {
  margin: 0 !important;
  padding: 20px;
}

#galeria img {
  width: 100%;
  height: auto;
}

#galeria img:hover {
  border: 5px solid #f7f7f7;
}

body {
  font-family: 'Prompt', sans-serif;
  font-weight: 300;
}

#footer img {
  width: 4em;
}

#content__img img {
  width: 20em;
  padding: 2em;
}

#navegacion {
  font-weight: 500;
}

@media screen and (min-width: 992px) {
  #home p {
    font-weight: 500;
    max-width: 80%;
    font-size: 1.5vh;
    padding-left: 48px;
  }
}

@media screen and (min-width: 992px) {
  #trabajo p {
    font-weight: 500;
    max-width: 80%;
    font-size: 1.5vh;
    padding-left: 137px;
  }
}

@media screen and (min-width: 992px) {
  #quienesSomos p {
    font-weight: 500;
    max-width: 80%;
    font-size: 1.5vh;
    padding-left: 221px;
  }
}
