@import "fuentes";
@import "recitales";
@import "galeria";

body{
	font-family: 'Prompt', sans-serif;
	font-weight: 300;
}
#footer img{
	width: 4em;
}

#content__img img{
	width: 20em;
	padding: 2em;
}
#navegacion{
	font-weight: 500;
}

@mixin parrafos ($padding) {
	font-weight: 500;
	max-width: 80%;
	font-size: 0.9rem;
	padding-left: $padding;
}

#home{
	@media screen and (min-width: 992px){
		p{
			@include parrafos(48px);
		}
	}
}
#trabajo{
	@media screen and (min-width: 992px){
		p{
			@include parrafos(137px);

			
		}
	}
}
#quienesSomos{
	@media screen and (min-width: 992px){
		p{
			@include parrafos(221px);
		} 
	}
} 
#content__img{
	@extend #galeria;
	 img{
	 	&:hover{
	 	border: 5px solid #212529;
		}
	}

}