@import "fuentes";
@import "recitales";

body{
	font-family: 'Prompt', sans-serif;
	font-weight: 300;
}
#footer img{
	width: 4em;
}

#content__img img{
	width: 20em;
	padding: 2em;
}
#navegacion{
	font-weight: 500;
}
